<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-cameraroll"
    version="0.0.1">
    <name>CameraRoll</name>
    <description>Fork Camera Roll Plugin</description>
    <keywords>cordova,camera,camera roll</keywords>
    <license>MIT</license>
    <repo>https://github.com/HillaryBautista/cordova-camera-roll</repo>
    <issue>https://github.com/HillaryBautista/cordova-camera-roll/issues</issue>

    <engines>
        <engine name="cordova" version=">=9.0.0"/>
    </engines>

    <asset src="www/CameraRoll.js" target="js/CameraRoll.js"/>

    <js-module src="www/CameraRoll.js" name="CameraRoll">
        <clobbers target="CameraRoll" />
    </js-module>

     <!-- ios -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
           <feature name="CameraRoll">
             <param name="ios-package" value="IonicCameraRoll" />
           </feature>
         </config-file>
         <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>This apps displays a camera roll</string>
         </config-file>

         <header-file src="src/ios/IonicCameraRoll.h" />
         <source-file src="src/ios/IonicCameraRoll.m" />
 	     <framework src="ImageIO.framework" weak="true" />
 	     <framework src="CoreLocation.framework" />
 	     <framework src="CoreGraphics.framework" />
 	     <framework src="AssetsLibrary.framework" />
       <framework src="MobileCoreServices.framework" />
     </platform>

    <!--android 
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CameraRoll">
                <param name="android-package" value="com.drifty.cordova.cameraroll.IonicCameraRoll"/>
            </feature>
        </config-file>

        <source-file src="src/android/IonicCameraRoll.java" target-dir="src/com/drifty/cordova/IonicCameraRoll" />

    </platform>-->

</plugin>
